.cart-spacing:hover {
  .cart-counter {
    background-color: #f97316;
    color: #fed7aa;
  }
}

.cart-counter {
  position: absolute;
  top: 0;
  left: 22px;

  display: flex;
  justify-content: center;

  border-radius: 50px;
  color: orange;
  font-weight: bold;
}

.cart-counter span {
  margin-top: 1px;
}

.cart-spacing {
  @media (min-width: 640px) {
    width: 106px;
  }
}