@font-face {
  font-family: "Raleway-Light";
  src: url(../public/assets/fonts/Raleway-Light.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

#mainFooterContainer::-webkit-scrollbar {
  width: 5px;
}

#mainFooterContainer::-webkit-scrollbar-track {
  background: #f1f1f1;
}

#mainFooterContainer::-webkit-scrollbar-thumb {
  background: #888;
}

#mainFooterContainer::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#mainFooterContainer {
  overflow-y: auto;
  margin-top: 10vh;
  margin-bottom: 10vh;
  min-height: 80vh;
}

main {
  min-height: 76vh;
  padding: 1rem;
}

@media (min-width: 640px) {

  #mainFooterContainer {
    overflow-y: auto;
    margin-top: 14vh;
    margin-bottom: 0px;
    min-height: 86vh;
  }

  .main {
    min-height: 76vh !important;
  }
  
}

// @import '~bootstrap/scss/bootstrap';